

        <!-- INICIA CONTEUDO -->
        <section id="content">


            <!--start container-->
            <div class="row" ng-if="propostas == '' " style="margin-top: 30px">
                <div class="col s12 m10 l9 card offset-m1">
                    <div class="card-content center">
                        <span class="flow-text"><i class="material-icons medium blue-text">cloud_off</i> <br>Desculpe...não encontramos nada!<br>Mas você pode tentar com outros parâmetros!</span>
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="proposta in propostas |limitTo:limit track by $index">
                <div class="col s12 m10 l9 card hoverable valign-wrapper offset-m1" ng-click="viewDetails(proposta.propositionId)">
                    <div class="col s4 m3 l2 valign card">
                        <img ng-src="{{'http://localhost:8080/swapitws/rs/propositionIMG/download/'+proposta.image[0].imageid}}" ng-hide="!proposta.image[0].imageid" class="responsive-img left" style="height: 180px;">
                        <img src="http://localhost/sw_app/images/sem-foto.jpg" ng-hide="proposta.image[0].imageid" class="responsive-img left" style="height: 180px;">
                    </div>

                    <div class="col s8 m9 l10">
                        <div class="row">
                            <div class="col s12" id="propText">
                                <h5 class="title truncate">{{proposta.title}}</h5>
                                <p class="black-text left-align truncate">{{proposta.description}}</p>
                            </div>
                        </div>

                        <div class="row category-row card-action">
                            <div class="col s5 m3 l2 valign center green" ng-hide="proposta.interest_category">
                                <span class="white-text truncate">Vendo por</span>
                                <div class="divider white"></div>
                                <p class="white-text center-align">{{proposta.price |currency}}</p>
                            </div>

                            <div class="col s5 m3 l2 center" ng-hide="!proposta.interest_category" style="background-color: {{proposta.interest_category.color}}" >
                                <span class="white-text truncate">Troco por</span>
                                <div class="divider white"></div>
                                <img ng-src="{{'icons/'+proposta.interest_category.icon}}" class="responsive-img" style="max-height: 43px;">
                            </div>

                            <div class="col s5 m3 l2 valign center cyan offset-l1 offset-m1 offset-s1 category" ng-hide="!proposta.priceCatInterest">
                                <span class="white-text truncate">E quero </span>
                                <div class="divider white"></div>
                                <p class="white-text center-align">+{{proposta.priceCatInterest | currency}}</p>
                            </div>

                            <div class="col s5 m3 l2 valign center right hide-on-small-and-down category" style="background-color: {{proposta.category.color}}">
                                <span class="white-text">Categoria</span>
                                <div class="divider white"></div>
                                <img ng-src="{{'icons/'+proposta.category.icon}}" class="responsive-img" style="max-height: 43px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="propostas == '' ">
                <div class="col s12 m8 l8 center">
                    <button ng-click="loadMore()"
                            class="btn waves-effect waves-light amber"><i class="material-icons left">add</i>Mais propostas </button>
                </div>
            </div>
        </section>
    <!-- FIM CONTEUDO -->

<!-- FIM MAIN -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- INSERE FOOTER --><ng-include src="'pages/footer.html'"></ng-include>