<!--INSERE TOPO-->
<ng-include src="'pages/topnavbar.html'"></ng-include>

<!-- INICIO MAIN -->
<div id="main">

    <div class="wrapper">

        <!-- INSERE SIDE MENU-->
        <ng-include src="'pages/sideMenu.html'"></ng-include>

        <!-- INICIA CONTEUDO -->
        <section id="content">


            <!--start container-->

            <div class="container" style="padding-top: 2%">
                <div class="row">
                    <form>
                        <div id="profileData" class="col l6 m8 s12  offset-l3 offset-m2 grey lighten-1">
                            <div class="card">
                                <div class="card-content">
                                    <i class="material-icons">person_add</i>
                                    <span class="card-title">Dados Pessoais</span>
                                    <div class="divider"></div>
                                    <br>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="personName" type="text" ng-model="person.personName">
                                            <label for="personName" class="active">Nome Completo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">email</i>
                                            <input disabled id="personEmail" type="email" ng-model="person.email">
                                            <label for="personEmail" class="active">email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">smartphone</i>
                                            <input id="personCel" type="text" ng-model="person.phone">
                                            <label for="personCel" class="active">Celular</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="password" type="password" ng-model="person.password">
                                            <label for="password" class="active">Nova Senha</label>
                                        </div>
                                        <div class="input-field col s12 m6 l6">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="passwordConfirm" type="text">
                                            <label for="passwordConfirm" class="active">Nova senha - Outra vez!</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <div class="card">
                             <div class="card-content">
                                 <i class="material-icons">edit_location</i>
                                 <span class="card-title">Endereço</span>
                                 <div class="divider"></div>
                                 <br>
                                 <div class="row">
                                     <div class="input-field col s12 m6 l6">
                                         <i class="material-icons prefix">add_location</i>
                                         <input id="cep" type="text" ng-model="person.addressReduce.zipcode">
                                         <label for="cep" class="active">CEP</label>
                                     </div>
                                     <div class="col s12 m6 l6">
                                         <button class="btn waves-effect waves-light orange darken-1" ng-click="getAddress()"><i class="material-icons left">search</i>Buscar CEP</button>
                                     </div>
                                 </div>

                                 <div class="row">
                                     <div class="input-field col s8 m6 l6">
                                         <i class="material-icons prefix">place</i>
                                         <input disabled id="street" type="text" ng-model="person.addressReduce.streetName">
                                         <label for="street" class="active">Rua</label>
                                     </div>
                                     <div class="input-field col s4 m2 l2">
                                         <input id="number" type="text" ng-model="person.addressReduce.number">
                                         <label for="number" class="active">Número</label>
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="input-field col s12 m6 l6">
                                         <i class="material-icons prefix">home</i>
                                         <input disabled id="city" type="text" ng-model="person.addressReduce.cityName">
                                         <label for="city" class="active">Cidade</label>
                                     </div>
                                     <div class="input-field col s12 m6 l6">
                                         <input disabled id="district" type="text" class="disabled" ng-model="person.addressReduce.districtName">
                                         <label for="district" class="active">Bairro</label>
                                     </div>
                                 </div>
                             </div>

                         </div>
                            <!--Fim o tipo de operação-->
                            <!--Botões de Ação-->
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col s12 flex space-between">
                                        <button class="btn btn-large waves-effect waves-light orange">Apagar Conta<i class="material-icons left">delete</i></button>
                                        <button class="btn btn-large waves-effect waves-light green" ng-click="updatePerson()">Salvar<i class="material-icons left">save</i></button>
                                        <button class="btn btn-large waves-effect waves-light red">Cancelar<i class="material-icons left">cancel</i></button>
                                </div>
                            </div>
                        </div>




                    </form>
                </div>
            </div>

            <!--end container-->
        </section>
        <!-- FIM CONTEUDO -->


    </div>

</div>
<!-- FIM MAIN -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- INSERE FOOTER --><ng-include src="'pages/footer.html'"></ng-include>