<!--INSERE TOPO-->
<ng-include src="'pages/topnavbar.html'"></ng-include>

<!-- INICIO MAIN -->
<div id="main">

    <div class="wrapper">

        <!-- INSERE SIDE MENU-->
        <ng-include src="'pages/sideMenu.html'"></ng-include>

        <!-- INICIA CONTEUDO -->
        <section id="content" class="-">


            <div class="row" ng-repeat=" prop in userProps">
                <div class="col s12 m10 l9 white card valign-wrapper center">
                    <div class="col s3 m2 l2">
                        <img src="{{'http://localhost:8080/swapitws/rs/propositionIMG/download/'+prop.image[0].imageid}}" class="responsive-img valign">
                    </div>
                    <div class="col s6 m4 l6 ">
                        <h5 class="title truncate"> {{prop.title}}</h5>
                        <p class="black-text left-align truncate hide-on-small-only">{{prop.description}}</p>
                    </div>
                    <div class="col l2">
                        <button class="btn waves-effect waves-light red valign" ng-click="deleteProp(prop.propositionId)">
                            <i class="material-icons left">delete</i>
                            Deletar
                        </button>
                    </div>
                    <div class="col l2">
                        <button class="btn waves-effect waves-light green valign" ng-click="editProp(prop.propositionId)">
                            <i class="material-icons left">edit</i>
                            Editar
                        </button>
                    </div>
            </div>

    </section>


</div>

</div>
<!-- FIM MAIN -->

<script type="text/javascript">
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- INSERE FOOTER -->
<ng-include src="'pages/footer.html'"></ng-include>