<div id="login-page" class="row swpadding-top">
    <div class="col s10 m4 l4 z-depth-4 card-panel offset-l4 offset-m4 offset-s1">
        <form novalidate name="registerForm">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="images/logo-login.png" alt="" class="responsive-img valign profile-image-login">
                    <p class="center login-form-text">Swapit! É mais barato!</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 l8 offset-l2 center">
                    <i class="material-icons prefix">person</i>
                    <input id="personName" type="text" ng-required="true" ng-model="person.personName">
                    <label for="personName" class="center-align">Nome</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 l8 offset-l2 center">
                    <i class="material-icons prefix">email</i>
                    <input name="email" id="perEmail" type="email" ng-required="true" ng-model="person.email"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <label for="perEmail" class="center-align">E-mail</label>
                    <p ng-show="registerForm.email.$error.pattern" class="red-text medium-small center">Email
                        inválido!</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 l8 offset-l2 center">
                    <i class="material-icons prefix">phone</i>
                    <input id="perPhone" type="text" ng-required="true" ng-model="person.phone">
                    <label for="perPhone" class="center-align">Telefone</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 l8 offset-l2 center">
                    <i class="material-icons prefix">lock</i>
                    <input name="pswd" id="password" type="password" ng-required="true" ng-model="pswd1"
                           ng-minlength="8"
                           ng-pattern="/^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.*[!@#\$%\^&\*])/">
                    <label for="password" class="center-align">Senha</label>
                    <li ng-show="registerForm.pswd.$error.minlength" class="red-text medium-small">Mínimo 8
                        caracteres.
                    </li>
                    <li ng-show="registerForm.pswd.$error.pattern" class="red-text medium-small">Mínimo 1 letra
                        maiúscula.
                    </li>
                    <li ng-show="registerForm.pswd.$error.pattern" class="red-text medium-small">Mínimo 1 letra
                        minuscula.
                    </li>
                    <li ng-show="registerForm.pswd.$error.pattern" class="red-text medium-small">Mínimo 1 caractere
                        especial.
                    </li>

                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 l8 offset-l2 center">
                    <i class="material-icons prefix">lock</i>
                    <input name="pswd2" id="password2" type="password" ng-model="pswd2" ng-required="true">
                    <label for="password2" class="center-align">A mesma senha</label>
                    <p ng-show="pswd1!== pswd2 && registerForm.pswd2.$dirty"
                       class="red-text medium-small center">As senhas não são iguais!</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l8 offset-l2">
                    <input type="checkbox" id="terms" ng-required="true" ng-model="terms"/>
                    <label for="terms">Lí e aceito os <a href="#/terms">Termos de Uso</a> </label>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="input-field col s12 l8 offset-l2 center">
                    <button ng-disabled="registerForm.$invalid" class="btn waves-effect waves-light col s12"
                            ng-click="newPerson()">Salvar
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="#/login">Já tennho conta!</a></p>
                </div>

            </div>

        </form>
    </div>
</div>



