<!-- LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" ng-controller="sideMenuController" ng-if="showSideBar">
    <ul id="slide-out" class="side-nav fixed leftside-navigation blue-grey darken-4">

        <!--GERENCIADOR DE PERFIL APENAS MOBILE-->
        <li class="no-padding hide-on-large-only">
            <div class="row">
                <div class="col col s12 m12 l10">
                    <ul class="collapsible collaps  ible-accordion">
                        <li>
                            <a ng-show="userLoged != false" class="collapsible-header white-text"
                               data-activates="profile-dropdown"> <i
                                    class="material-icons white-text right">arrow_drop_down</i>{{userName}}</a>

                            <div ng-show="userLoged != false" class="collapsible-body">
                                <ul>
                                    <li><a class="waves waves-yellow" href="#/profile"><i class="material-icons left">person</i> Meu perfil</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#/propManager"><i class="material-icons left">attach_money</i>Minhas
                                        propostas</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#/favorites"><i class="material-icons left">favorite</i> Favoritos</a>
                                    <li ng-show="admin == 'admin'" class="divider"></li>
                                    <li ng-show="admin == 'admin'"><a href="#/adm"><i class="material-icons left">home</i>
                                        Admin</a></li>
                                    <li class="divider"></li>
                                    <li><a href="" ng-click="logout()"><i class="material-icons left">exit_to_app</i>
                                        Sair</a></li>
                                </ul>
                            </div>
                            <div ng-show="userLoged == false" class="collapsible-body">
                                <ul>
                                    <li><a href="#/register"><i class="material-icons left">person_add</i> Nova
                                        Conta</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#/login"><i class="material-icons left">home</i> Entrar</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        <!--Opções do Painel-->

        <div class="card blue-grey darken-4" style="margin-top: 8%">
            <div class="card-content">
                <div class="row">
                    <span class="strong white-text">Filtrar por palavra chave</span>
                    <div class="input-field col s12 white-text input-field-side-nav">
                        <input id="searchTitle" type="text" ng-model="title">
                        <label for="searchTitle">O que você está procurando?</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-light green left no-padding col s5" ng-click="searchByTitle()">
                        <i class="material-icons left">search</i>BUSCAR
                    </button>
                    <button class="btn waves-light blue right no-padding col s5"  ng-click="resetSearchByTitle()">
                        <i class="material-icons left">clear</i>limpar
                    </button>
                </div>

            </div>
        </div>
        <!--Select de cidades-->
        <div class="card blue-grey darken-4">
            <div class="card-content">
                <div class="row">
                    <span class="strong white-text">Filtrar por cidade</span><br><br>
                    <span class="white-text">Estado:</span>
                    <select class="browser-default" ng-model="selectedState">
                        <option ng-repeat="state in states" value="{{state.stateid}}">{{state.acronym}}</option>
                    </select>
                    <span class="white-text">Cidade:</span>
                    <select class="browser-default" ng-model="selectedCity">
                        <option ng-repeat="city in cities track by $index" value="{{city.cityid}}">{{city.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card blue-grey darken-4">
            <div class="card-content">
                <div id="chCategories" class="row">
                    <span class="strong white-text">Filtrar por categoria</span><br><br>
                    <div class="center">
                        <button ng-click="resetCategories()" class="btn waves-effect waves-light blue white-text">
                            <i class="material-icons left">refresh</i> Todas
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 center white-text" style=" padding: 5px;" ng-repeat="category in categories">
                        <div class="hoverable" style="background-color: {{category.color}}"
                             ng-click="setCategory(category.categoryId)" tooltips
                             tooltip-template="{{category.categoryName}}">
                            <img class="responsive-img" ng-src="{{'icons/'+category.icon}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card blue-grey darken-4">
            <div class="card-content">
                <div class="row">
                    <span class="strong white-text">Filtrar por valor</span>
                    <div class="row">
                        <div class="input-field input-field-side-nav col s6 white-text">
                            <input class="money" id="minPrice" type="text" ng-model="price_min">
                            <label for="minPrice"> Valor Mínimo</label>
                        </div>
                        <div class="input-field input-field-side-nav col s6 white-text">
                            <input class="money" id="maxPrice" type="text" ng-model="price_max">
                            <label for="maxPrice">Valor Máximo</label>
                        </div>
                        <div class="row center">
                            <button class="btn waves-effect waves-light amber" ng-click="searchByPrice()">
                                <i class="material-icons left">attach_money</i>Definir Valor
                            </button>
                        </div>
                        <div class="row center">
                            <button class="btn waves-effect waves-light blue" ng-click="searchByPrice()">
                                <i class="material-icons left">clear</i>Limpar Valor
                            </button>
                        </div>
                    </div>
                    <div class="input-field ">
                    </div>
                </div>
            </div>
        </div>

    </ul>
    <a data-activates="slide-out"
       class="button-collapse sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only blue-grey darken-4"><i
            class="material-icons">menu</i></a>
</aside>


<!-- END LEFT SIDEBAR NAV-->

