<!--Categories-->
<div class="row" style="margin-top: 10%">

    <div class="col s10 m8 l8 offset-m2 offset-l2 offset-s1">
        <div class="col s4 m4 l2 center  swpadding-rigth swmargin-bottom">
            <div class="yellow hoverable white-text" ng-click="selectCategory('718e7d3f-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Dog.png">
                </div>
                Pets
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-bottom">
            <div class="orange hoverable white-text" ng-click="selectCategory('718e772b-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Car.png">
                </div>
                Automóveis
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-bottom">
            <div class="orange darken-3 hoverable white-text" ng-click="selectCategory('718e633b-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Laptop.png">
                </div>
                Tech
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-bottom">
            <div class="red hoverable white-text" ng-click="selectCategory('718e6aa7-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Sports%20Mode.png">
                </div>
                Esportes
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-bottom">
            <div class="pink darken-3 hoverable white-text" ng-click="selectCategory('718e71ac-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Clothes.png">
                </div>
                Moda
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-bottom">
            <div class="purple darken-3 hoverable white-text" ng-click="selectCategory('718e7d3f-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Interior%20Accesories.png">
                </div>
                Móveis
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="deep-purple darken-2 hoverable white-text" ng-click="selectCategory('718e746f-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Drone.png">
                </div>
                Hobbies
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="indigo darken-2 hoverable white-text" ng-click="selectCategory('718e6d17-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Structural.png">
                </div>
                Imóveis
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="blue darken-3 hoverable white-text" ng-click="selectCategory('718e6d7e-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/sofa.png">
                </div>
                Decoração
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="light-blue hoverable white-text" ng-click="selectCategory('2a8e28d6-9d3b-11e6-ba29-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Touchscreen%20Smartphone.png">
                </div>
                Smartphones
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="cyan darken-1 hoverable white-text" ng-click="selectCategory('718d9292-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Baby.png">
                </div>
                Crianças
            </div>
        </div>

        <div class="col s4 m4 l2 center swpadding-rigth swpadding-left swmargin-top">
            <div class="green darken-2 hoverable white-text" ng-click="selectCategory('718e66fb-98bc-11e6-a3ce-80fa5b2affba')">
                <div>
                    <img class="responsive-img" src="icons/Meeting.png">
                </div>
                Empregos
            </div>
        </div>

    </div>
</div>
<br>
<br>
<div class="row center">
        <a href="#/new" class="waves-effect waves-light btn btn-large green darken-2 hide-on-large-only">Nova proposta</a>
</div>

<!--Inicia botão dropDown-->
